{% extends "index.html" %}
{% block content %}

<h1 class="header1">顔認証 または 学籍番号 を入力してください</h1>

<div class="container">
    <div>
        <h1>顔認証</h1>
        <video id="video" width="720" height="560" autoplay></video>
        <script>
            const video = document.getElementById('video');

            // Get access to the camera
            if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
                navigator.mediaDevices.getUserMedia({ video: true }).then(function (stream) {
                    video.srcObject = stream;
                    video.play();
                });
            }

            // Elements for taking the snapshot
            const canvas = document.createElement('canvas');
            const context = canvas.getContext('2d');

            // Process frames every 2 seconds
            setInterval(function () {
                canvas.width = video.videoWidth;
                canvas.height = video.videoHeight;
                context.drawImage(video, 0, 0, 640, 480);
                let imageData = canvas.toDataURL('image/png');

                // Send image data to server
                fetch('/verify', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        image: imageData
                    })
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.name === 'Unknown') {
                            console.log('No faces recognized. Continuing video.');
                        } else {
                            var result = confirm(`以下でログインしますがよろしいですか\n\n${data.name}`);
                            if (result) {
                                window.location.href = "/ok?name=" + encodeURIComponent(data.name);  // Flaskのルートにリダイレクトする
                            }
                            else {
                                window.location.href = '/';
                            }
                        }
                    });
            }, 1000);
        </script>
    </div>
    <div>
        <form action="/login" method="post">
            <div>
                <label for="user">学籍番号</label>
                <input type="text" id="user" name="studentnumber">
            </div>
            <button type="submit">ログイン</button>
        </form>
        <a href="/new_account" class="newaccountbutton">新規登録はこちら</a>
    </div>
</div>

{% endblock %}