{% extends "index.html" %}
{% block content %}

<!-- <head>
    <meta http-equiv="Refresh" content="3;/logout">
</head> -->

<body class="body_welcome">
    <div class="balloon2">
        <div class="icon">
            <img src="./static/img/yohei.PNG" alt="Yohei" height="300">
        </div>
        <h1>{{ username }}さん</h1>
        <h1>来てくれてありがとう！</h1>
        <h1>今日もよろしく!</h1>
    </div>
    <div class="logout_button">
        <form action="/logout" method="post">
            <button type="submit">ログアウト</button>
        </form>
    </div>
</body>

{% endblock %}